.one {
    color: green
}

.two {
    color: yellowgreen
}

.three {
    color: blue
}

.four {
    color: brown
}

.five {
    color: red
}

.six{
    color: rebeccapurple
}

.seven {
    color: gold
}

.seven {
    color:grey
}

.eight {
    color:khaki
}

.nine {
    color:lightsalmon
}